body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

// canvas
.game {
   position: relative;
}

#gameBoard {
   border: 1px solid #000;
}

#players {
   position: absolute;
   top: 0;
   left: 0;

   border: 1px solid red;
}